<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if params[:operation] == 'add'%>
      <p><%= params[:number1].to_i + params[:number2].to_i %></p>
    <% elsif params[:operation] == 'subtract'%>
      <p><%= params[:number1].to_i - params[:number2].to_i %></p>
    <% elsif params[:operation] == 'multiply'%>
      <p><%= params[:number1].to_i * params[:number2].to_i %></p>
    <% elsif params[:operation] == 'divide'%>
      <p><%= params[:number1].to_i / params[:number2].to_i %></p>
    <% end %>
  </body>
</html>
